@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1280px;
    height: 1965px;
    background-color: #f5f7fa;
    padding: 40px;
    margin: 0 auto;
}
.main-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}
.sidebar-conteiner { 
    width: 370px;
    height: 1319px;
    color: #ffffff;
    background-color: #1e2939;
}
.foto {
    margin: 40px;
    align-items: center;
}
.contacts-text {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px; 
    color: #707781;
    padding-left: 8px;       
}
.contacts-conteiner{
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    padding-left: 40px;
    padding-top: 57px;
    
}
.Title-sidebar {
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 10px;
}
.sidebar-list-text {
    color: #ffffff;
}
.education {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    padding-left: 41px;
    padding-top: 52px;
    line-height: 24px;
    color: #ffffff;
}
.university-title {
    color: #ffffff;
    margin-top: 15px;
}
h5{
    color: #ff6b08;
    font-size: 14px;
    font-weight: 700;
}
.soft-skills-container {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    padding-left: 41px;
    padding-top: 52px;
    line-height: 24px;
}
.soft-skills-text {
    padding-left: 16px;
    color: #ff6b08;
}
.submain-container {
    width: 1200px;
    height: 1319px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    color: #595959;
}
section {
    width: 700px;
    margin-left: 90px;
}
section h3 {
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    margin-top: 40px;
}
 h2 {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    padding-top: 50px;
    color: #000000;
}
 h1 {
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    line-height: 60px;
    color: #000000;
}
.head-paragraph-text {
    margin-right: 20px;
    margin-top: 10px;
    
}
.tech-skills .icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
}
.tech-skills .icons li img{
    width: 35px;
    height: 35px;
}
.tech-skills-list {
    margin-top: 10px;
    margin-left: 20px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.tech-skills-text {
    display: flex;
    justify-content: space-between ;
}

.projects-link-text {
    color: #595959;
    font-weight: 400; 
    font-size: 14px;
}
.dots {
    color: #a8a8a8;
    font-weight: 100; 
    height: 1px;
    font-size: 12px;
}
.submain-conteiner-list {
    margin-left: 15px;
    margin-top: 10px;
  
}
 h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5px;
    margin-top: 20px;
}
.work-title-color {
    color: #ff6b08;
}
.date {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;   
}
.date-divider {
    color: black;
}
